
//* colors used within the website to create easy change *//

:root {
    --primary-background: #0F172A;
    --primary-accent: #22D3EE;
    --secondary-accent: #4A90E2; 
    --move-up: -20px;
    --animation-speed: 0.5s;
    --shadow-color: #aaa;
    --paragraph-color: hsl(240, 100%,);
    }

/* WAVEING WELCOME SIGN */  
header {
    height: 10vh;
    margin: 0;                                                                                                               
    background-color: var(--primary-background);
    color: var(--secondary-accent);
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px var(--shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;}
    
    .wavy-welcome span { 
    display: inline-block;
    font-size: 4rem;
    animation: wave 6s ease-in-out infinite;
    }  
    .wavy-welcome span:nth-child(1) {
    animation-delay: 0s;
    }
    .wavy-welcome span:nth-child(2) {
    animation-delay: 1s;
    }
    .wavy-welcome span:nth-child(3) {
    animation-delay:  2s;
 
    }
    .wavy-welcome span:nth-child(4) {
    animation-delay:  3s;
 
    }
    @keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {transform: translateY(-20px);

    }
}




.body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100%;
    text-size-adjust:  2rem;
    background-color: var(--primary-background);
    border-color: var(--secondary-accent);
    color: var(--primary-accent);
}

fieldset.welcome {              /* welcome message box margin and design */
    margin: 100px;
    padding: 20px;
    text-align: center;
    border-style: none;          /* box stye */
    border-width: 2px;
   }

fieldset.nav-bar {                  /* menu bar */
    background-color: #333;
    padding: 10px;
    justify-content: center;   /* Optional: centers items horizontally */
    display: flex;             /* Aligns items side by side */

} 

ul {
  list-style-type: none;
    display: flex;
    gap: 200px;
    
}

ul:before {
    transform-style: 
}

ul li:{ justify-content: center;   /* Optional: centers items horizontally */
       
      
        

}
   

ul li:hover{
    transform: scale(2.0);          /*pop effect on menu */
    transition: 4s;                    /* effect time frame */
 
  

}

.box {
    color: #1c3149;
    width: 200px;
    height: 200px;
    list-style-position: center;
 }

 .inform {            /* ABOUT ME PROJECT AND CONTACT paragrams app EDIT TAB */
    color: var(--secondary-accent);

 }



@media only screen and (max-width: 600px) {
    .about, .projects, .contact {
        margin: 50px;
        padding: 10px;
    }
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
   .column {
       width: 50%;
   }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other */
@media screen and (max-width: 600px) {
   .column {
       width: 100%;
   }
}